.layout {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget {
  border-radius: var(--radius);
  display: grid;
  grid-auto-rows: 1fr;
  width: 300px;

  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 0.3s;
}
.widget > * {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  backface-visibility: hidden;
  border-radius: 0.25em;
  overflow: hidden;
}
.widget > :first-child {
  z-index: 1;
}
.widget > :last-child {
  transform: rotateY(180deg);
}
.widget[data-side="back"] {
  transform: rotateY(180deg);
}

.map {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding: 0.5em;
}
.map button {
  position: relative;
}
.map iframe {
  position: absolute;
  inset: 0;
}

.info {
  display: grid;
  padding: 0.5em;
  background-color: white;
}
.info button {
  justify-self: end;
}