.layout {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget {
  display: grid;
  grid-auto-rows: 1fr;
  width: 400px;
  
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 0.3s;
}
.widget > * {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  backface-visibility: hidden;
  border-radius: var(--radius);
  overflow: hidden;
}
.widget > :first-child {
  z-index: 1;
}
.widget > :last-child {
  transform: rotateY(180deg);
}
.widget[data-side="back"] {
  transform: rotateY(180deg);
}

.map {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding: var(--space-md);
  min-height: 400px;
}
.map button {
  position: relative;
}
.map iframe {
  position: absolute;
  inset: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
  background-color: white;
}
.info button {
  align-self: flex-end;
}
.info .meteo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .meteo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.info .details {
  display: flex;
  gap: var(--space-sm);
  justify-content: space-evenly;
}
.info .details > * {
  display: flex;
  gap: var(--space-xs);
}