@import 'nib'
@require './library/icon'
@require './library/weather'

body
	background-color: hsl(207, 10, 34)

.gloss
	position     : absolute
	height       : 30px
	top          : -@height
	left         : 5%
	right        : @left
	border-radius: 50%
	box-shadow   : 0 10px 200px 10px rgba(255, 255, 255, .5)
